body{
    font-family: 'Lucida Sans Unicode', ' Helvetica', sans-serif;
    color: #A4A400;
    background-color: #165357;
}
h1{
    font-family: 'Lucida Sans Unicode', ' Helvetica', sans-serif;
    font-size: 22pt;
}
legend{
    font-family: 'Lucida Sans Unicode', ' Helvetica', sans-serif;
    
}
a{
    text-decoration: none;
}
a:link { 
    color: #210258; 
}

a:visited { 
    color: rgb(165, 42, 42); 
}

a:hover { 
    color: #FF00FF; 
    text-decoration: underline;
}

a:active {
     color:rgb(42, 157, 165) ; 
}


